* {
    box-sizing: border-box;
}
.icon-button {
    cursor: pointer;
    height: 20px;
    padding: 0 4px;
    transition: scale 0.3s ease;
}
.icon-button:hover {
    transform: scale(1.2);
}
.library-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.library-item-text {
    display: inline-block;
}
.book-list {
    padding-left: 20px;
    margin: 0;
    text-align: justify;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F8F4E6;
}
h2 {
    text-align: center;
    margin: 8px 0;
}
.input-form, .output-form {
    width: 500px;
    display: flex;
    flex-direction: column;
}
.input-form input {
    width: 100%;
    margin-bottom: 8px;
}
/*.input-form label {
    font-size: 1.2rem;
}*/
.input-form button {
    width: 100%;
    font-size: 1.2rem;
    background-color: #10B981;
}
.input-form button:hover {
    background-color: #059669;
}
